@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(204, 251, 241, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #5eead4;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2dd4bf;
}
